@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rounded-div {
  @apply border rounded-lg shadow-xl border-gray-200 bg-white dark:bg-gray-800 dark:border-gray-700 dark:text-white px-6 max-w-[1500px] w-full mx-auto
}

.text-color {
  @apply text-black dark:text-white
}

.about-text > a {
  @apply dark:text-blue-500 text-blue-600
}